@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    background-image: url(images/backv2.png);
}

.header {
    width: 90%;
    height: 3em;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    background-color: #4F3B8A;
    border-radius: 10px;
    margin-top: 3%;
    color:aliceblue;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
}
.CH3 {
    color: aliceblue;
    font-weight: 900;
}
p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 42px;
    margin: 3%;
}
.inner {
    background-color: aliceblue;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding: 5%;
}
.main {
   background-image: url(images/tr00nn\ 1trouun.jpg);
   width: 1200px;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
}
.headA {
    text-decoration: none;
    color:inherit;
}
footer {
    width: 90%;
    height: 10em;
    background-color: #4F3B8A;
    border-radius: 10px;
    color: grey;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 3em;
}
li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 42px;
    margin: 3%;
}
